{
  "name": "mc-official-bot",
  "version": "1.0.0",
  "license": "MIT",
  "author": "Nithish1201-code",
  "repository": {
    "type": "git",
    "url": "https://github.com/Nithish1201-code/mc-official-bot.git"
  },
  "bugs": {
    "url": "https://github.com/Nithish1201-code/mc-official-bot/issues"
  },
  "keywords": [
    "minecraft",
    "discord",
    "server-management",
    "modrinth",
    "crafty",
    "bot",
    "automation"
  ]
}
